<html>
	<head>
		<title>OmegaStop</title>
		<meta charset="utf-8">
		<style>
		@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600&display=swap');
		</style>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/chessboard-1.0.0.min.css')}}"/>
        <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/app.css')}}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js')}}"></script>
     <script src="{{ url_for('static', filename='js/chessboard-1.0.0.min.js')}}"></script>
     <script src="{{ url_for('static', filename='js/app.js')}}"></script>
        <script src="https://kit.fontawesome.com/cfdd091489.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<section class="grid">
			<div class="gradient-border" id="board_item">
				<div id="board2"></div>
			</div>
            <div class="gradient-border" id="menu">
                <div id="header">
                    <p>OmegaZero</p>
                </div>
                <div id="moves">
                    <p>Moves section</p>
                </div>
                <div id="controls">
                    <button id="startBtn" class="button-9">Start Position</button>
				    <button id="clearBtn" class="button-9">Clear Board</button>
                    <button id="swapBtn" class="button-9">Swap Sides</button>
                </div>
            </div>
            <div id="footer">
                <a href="https://github.com/ArtemLashko/OmegaStop" target="_blank"><i class="fa-brands fa-square-github fa-2xl"></i></a>
                <a href="https://www.linkedin.com/in/arteml1/" target="_blank"><i class="fa-brands fa-linkedin fa-2xl"></i></a>
                <a href=""><i class="fa-brands fa-google-play" target="_blank"></i></a>
            </div>
		</section>
	</body>
</html>